*.pyc
*.so
*.egg-info
*.whl
/dist/
.ipynb_checkpoints
.DS_Store
.mypy_cache/
.pytype/
.idea
.envrc

# virtualenv/venv directories
/venv/
/bin/
/include/
/lib/
/share/

# Documentation
/docs/_build/
/docs/_collections/
/docs/sg_execution_times.rst
/docs/generated
build/*
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
